[Desktop Entry]
Name=HamClock
GenericName=Amateur Radio Space Weather & Propagation Clock
Comment=Space weather, VOACAP propagation, satellite tracker and telemetry dashboard for radio amateurs
Exec=hamclock
Icon=hamclock
Terminal=false
Type=Application
Categories=Network;HamRadio;Utility;
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
X-KDE-autostart-after=panel
X-MATE-Autostart-enabled=true
